* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#particles {
  height: 100%;
  width: 100%;
  background-color: #b61924;
  position: fixed;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 0 1rem;
  padding-bottom: 2rem;
}

.title {
  font-size: 30px;
  padding-bottom: 1rem;
  font-family: "Permanent Marker", cursive;
}

.credits,
.message {
  padding-top: 1rem;
}

.message {
  font-family: "Sriracha", cursive;
  font-size: 24px;
  line-height: 28px;
}

.credits {
  font-family: "Satisfy", cursive;
  font-style: italic;
  font-size: 18px;
}

.rudeness {
  text-decoration: line-through;
}

.image img {
  width: 100%;
  height: 100%;
}

.image {
  width: 15rem;
}

@media (max-width: 767px) {
  .title {
    font-size: 25px;
  }

  .credits {
    font-size: 19px;
  }

  .image {
    width: 14rem;
  }
}

@media (min-width: 1025px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
